h1 {
    text-align: center;
    color: white;
}

.low {
    background-color: green;
    color: white;
}

.moderate {
    background-color: yellow;
    color: black;
}

.high {
    background-color: red;
    color: white;
}