h1 {
    text-align: center;
    color: balck;
}

.searchBtn {
    position: top center;
}

::placeholder {
    color: white;
}

.low {
    background-color: green;
    color: white;
}

.moderate {
    background-color: yellow;
    color: black;
}

.high {
    background-color: red;
    color: white;
}

/* .container-day {
    box-shadow: 0 0 5px;
    border-radius: 5px;
} */